

.zcl-amati-red 	{color: rgba(219,27,18,1);}
.zcl-amati-red-25 	{color: rgba(219,27,18,.25);}
.zcl-amati-red-33 	{color: rgba(219,27,18,.33);}
.zcl-amati-red-50 	{color: rgba(219,27,18,.50);}
.zcl-amati-red-67 	{color: rgba(219,27,18,.67);}
.zcl-amati-red-75 	{color: rgba(219,27,18,.75);}
.zcl-white 		{color: rgba(255,255,255,1);}
.zcl-white-25 	{color: rgba(255,255,255,.25);}
.zcl-white-33 	{color: rgba(255,255,255,.33);}
.zcl-white-50 	{color: rgba(255,255,255,.50);}
.zcl-white-67 	{color: rgba(255,255,255,.67);}
.zcl-white-75 	{color: rgba(255,255,255,.75);}
.zcl-black 		{color: rgba(0,0,0,1);}
.zcl-black-25 	{color: rgba(0,0,0,.25);}
.zcl-black-33 	{color: rgba(0,0,0,.33);}
.zcl-black-50 	{color: rgba(0,0,0,.50);}
.zcl-black-67 	{color: rgba(0,0,0,.67);}
.zcl-black-75 	{color: rgba(0,0,0,.75);}
.zcl-red 	{color: red;}
.zcl-green 	{color: green;}
.zcl-blue 	{color: blue;}
.zcl-yellow {color: yellow;}

.zbcl-white 	{background-color: rgba(255,255,255,1);}
.zbcl-white-25 	{background-color: rgba(255,255,255,.25);}
.zbcl-white-33 	{background-color: rgba(255,255,255,.33);}
.zbcl-white-50 	{background-color: rgba(255,255,255,.50);}
.zbcl-white-67 	{background-color: rgba(255,255,255,.67);}
.zbcl-white-75 	{background-color: rgba(255,255,255,.75);}

.zbcl-black 	{background-color: rgba(0,0,0,1);}
.zbcl-black-25 	{background-color: rgba(0,0,0,.25);}
.zbcl-black-33 	{background-color: rgba(0,0,0,.33);}
.zbcl-black-50 	{background-color: rgba(0,0,0,.50);}
.zbcl-black-67 	{background-color: rgba(255,255,255,.67);}
.zbcl-black-75 	{background-color: rgba(255,255,255,.75);}