.ez-bcol-blue-main {
    background-color: rgba(6, 71, 128, 1)!important;
}

.ez-header {
    color: rgba(255, 255, 255, 1)!important;
    background-color: rgba(6, 71, 128, 1)!important;
    font-size: 0.9rem;
    .ez-header-logo {
		margin: 1rem 0 0 0;    	
    }
    .ez-header-name{
    	text-align: center;
    	.ez-header-name-title {
    		font-family: Comfortaa;
    		font-weight: 400;		
    		margin: 1rem 0 0 0;
    	}
    	.ez-header-name-subtitle {
    		font-family: Marck Script;
    	}
    }
    .ez-header-addresse {
		font-family: Comfortaa;
		font-weight: 300;		
		margin: 1rem 0 0.5rem 0;	
		.ez-header-addresse-post
		{
			margin-top: 0.25rem;
			margin-bottom: 0.5rem;
		}
		.ez-header-addresse-phone
		{
			margin-bottom: 0.5rem;
		}

	}
}

.navbar .navbar-brand img {
    height: 55px;
}
.navbar .nav-item a.nav-link {
    text-transform: uppercase;
}

.embed-responsive.embed-responsive-16by9 video {
    position: absolute!important;
}
